/** @format */

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    339deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(224, 196, 23, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}
